*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
span,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: none;
  text-decoration: none;
}

a {
  text-decoration-skip-ink: none;
  text-decoration: none;
}

img {
  // max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  outline: none;
}
